@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("assets/images/profile.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 600px;
  width: 100%;
  aspect-ratio: 1/1;
  margin: auto;
}

.flutter-bg-image {
  background-image: url("assets/images/flutter.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.redux-bg-image {
  background-image: url("assets/images/redux.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-bg-image {
  background-image: url("assets/images/sass.png");
  background-size: contain;
  background-repeat: no-repeat;
}
